/* .input-group {
    border: 1px solid #aaa;
    border-radius: 6px;
    padding: 5px;
    background-color: #fbe8a6;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 10px;
} */

/* .input-group .form-control {
    background-color: #ffffff;
    border: none;
    padding: 8px;
}

.input-group-text {
    background-color: #f9ab44;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px 0 0 4px;
    padding: 8px 12px;
} */